.contact {
  padding-top: 5vh;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
}

.contact h1 {
  font-size: 2.5rem;
}

.contact .call-phone {
  margin-top: 2vh;
}

.contact .call-email {
  margin-bottom: 5vh;
}

.contact .table {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}
.contact .table td {
  padding: 0.3rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.contact .day {
  font-weight: bold;
}
