.header .logo {
  position: fixed;
  left: 4vh;
  top: 10px;
  z-index: 9999;
}

.header .logo svg {
  width: 8vw;
  height: auto;
}

@media only screen and (max-width: 720px) {
  .header .logo svg {
    width: 12vw;
  }

  .header .logo {
    position: absolute;
  }
}
