.landing {
  padding-left: 10px;
}

.landing .wrapper {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
}

.landing h1 {
  font-size: 2.5rem;
}

.landing svg {
  display: block;
  margin-left: auto;
  width: 85%;
  height: auto;
}

@media only screen and (max-width: 576px) {
  .landing .wrapper {
    display: none;
  }
}
