body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir,
    helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial,
    sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.9px;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background: #7ee8d4;
  background: -webkit-linear-gradient(to top, #7ee8d4, #fffbd5);
  background: linear-gradient(to top, #7ee8d4, #fffbd5);
}

a:focus {
  outline: none;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

h4 {
  margin-top: 5px;
}

.wrapper {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media only screen and (min-width: 576px) {
  .wrapper {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .wrapper {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .wrapper {
    max-width: 960px;
  }
}
