.services {
  position: relative;
  padding-top: 5vh;
  padding-bottom: 10vh;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}

.services h1 {
  padding-bottom: 20px;
  font-size: 2.5rem;
}

.services .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services .box {
  width: 48%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.services .box div {
  background-color: rgba(255, 255, 255, 0.3);
  height: 100%;
  border-radius: 25px;
}

.services h3 {
  padding-top: 20px;
}

.services .box p {
  margin: 0 30px;
}

@media screen and (max-width: 600px) {
  .services .grid {
    flex-flow: column;
  }

  .services .box {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .services .box p {
    margin-bottom: 30px;
  }
}
